<div class="container-fluid" id="hero" style="padding-top: 105px;">
  <div class="col-md-3 favsPartial">
    <%= render 'favs_partial' %>
  </div>
  <div class="col-md-6">
    <div class="row">
      <%= render 'business_list' %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row" id="comp1">
      <h3>Popular Offers</h3>
      <%= render 'popularity_component' %>
    </div>
  </div>
</div>
