<p id="notice"><%= notice %></p>

<div class="container-fluid" id="hero">
  <div class="col-md-3">
    <div id="favorite">
      <%= render @favorite %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <%= render 'feed_partial' %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row" id="comp1">
      <h3>Testy</h3>
      <p>Paragraph 1</p>
    </div>
    <div class="row" id="comp2">
      <h3>Tester</h3>
      <p>Some more stuff</p>
    </div>
  </div>
</div>
