<h3>Hello!</h3>
<p>
  Thank you for signing up for the Certified Moody Friendly Program!
</p>
</br>
<p>
	This email is a confirmation that you have successfully signed up to our site. Your business is currently under review, and will be approved by an administrator in the next few days.
</p>
<p>
  <b><i>*Please note: this application is only meant for the use of Certified Moody Friendly Businesses.</i></b> If you are not already a CMF business, please contact jstensgaard@valdostachamber.com to get started.</p>
<p>
  In the meantime, you may update your business profile by logging into our site at https://www.cmfp-b.herokuapp.com.
</p>
<p> Once you are an approved business, you will be able to add listings to your business that consumers may use. Your business and listings will be promoted once they are favorited and used. So, make sure to be active on our site!</p>
<h4>Adding a Shortcut to Your Home Screen</h4>
<p> Our application is web-based, but that does not stop you from using it like an app from the App Store.</p>
<p> Here is how you can add a shortcut to your home screen on your phone to access our site even faster!
</p>
<h4>Apple iPhone/iPad Users:</h4>
<p>1. Open up Safari and go to https://www.cmfp-b.herokuapp.com.</p>
<p>2. At the bottom of the screen, tap the icon depicting an arrow coming out of a square.</p>
<p>3. Tap "Add to Home Screen".</p>
<p>4. You'll be asked to choose a name for the homescreen icon. We suggest "CMFP".</p>
<p><i> You're all done! </i></p>
<p>
  _______
</p>
</br>
<h4>Android Users:</h4>
<p>1. Open up Chrome and go to https://www.cmfp-b.herokuapp.com.</p>
<p>2. Tap the menu button.</p>
<p>3. Tap "Add to Home Screen".</p>
<p>4. You'll be asked to choose a name for the homescreen icon. We suggest "CMFP".</p>
<p><i> You're all done! </i></p>
</br>
