<div class="container-fluid" id="landingHero">
  <div class="row">
    <div class="col-md-6 text-center" id="left-hero">
      <div class="row" id="hero-left-row1">
        <h1>See what's happening in Valdosta</h1>
      </div>
      <div class="row" id="hero-left-row2">
        <h2>Join the Certified Moody Friendly Program!</h2>
      </div>
      <div class="row" id="hero-left-row3">
        <form action="accounts/sign_up" method="GET">
          <br>
          <%= button_to 'Sign Up', new_account_registration_path %>
          <br>
          <%= button_to 'Login', new_account_session_path %>
        </form>
      <!--<div class="row" id="hero-left-row4">
        <p>Have an account?  <%= link_to 'Login', new_account_session_path %></p>
      </div>-->
      </div>
    </div>
    <div class="col-md-6 text-center" id="right-hero">
      <h3 id="hero-right-h1">About Us</h3>
    </br>
      <p style="text-align: center; margin-left: 20px; margin-right: 20px; font-size: 15px;">The Certified Moody Friendly Program is dedicated to our Businesses and Military Personnel.
      This website allows our members to promote their businesses by posting discounts, coupons,
      and events for Military Personnel in the Valdosta area.</p>
    </br>
      <p style="text-align: center; margin-left: 20px; margin-right: 20px; font-size: 18px;">
      Sign up today to be a part of this incredibly rewarding program!
    </p>
    </div>
    <div id="footerMobile">
      <p>Copyright 2018. All rights reserved.</p>
    </div>
  </div>
</div>
