<div class="container-fluid" id="landingHero">
  <div class="row">
    <div class="col-md-6 text-center" id="left-hero">
      <div class="row" id="hero-left-row1">
        <h1>See what's happening in Valdosta</h1>
      </div>
      <div class="row" id="hero-left-row2">
        <h2>Join the Certified Moody Friendly Program!</h2>
      </div>
      <div class="row" id="hero-left-row3">
        <form action="accounts/sign_up" method="GET">
          <input type="text" name="uid" id="emailfield" placeholder="Email Address">
          <br>
          <br>
          <input type="password" name="pwd" id="pwfield" placeholder="Password">
          <br>
          <br>
          <%= button_to 'Get Started', new_account_registration_path %>
        </form>
      </div>
      <div class="row" id="hero-left-row4">
        <p>Have an account?  <%= link_to 'Login', new_account_session_path %></p>
      </div>
    </div>
    <div class="col-md-6 text-center" id="right-hero">
      <h3 id="hero-right-h1">Certified Moody Friendly Business Portal</h3>

      <!--<%= button_to "Feed Button", feed_index_path, :method => :get,
          :id => "feedButton" %>-->
    </div>
    <div id="footerMobile">
      <p>Copyright Moodylink 2018. All rights reserved.</p>
    </div>
  </div>
</div>
