<h3>Hello!</h3>
<p>
  Thank you for signing up as a member for the Certified Moody Friendly Program!
</p>
<p>
	This email will help you learn how to use our new site. We will tell you how to add a shortcut to your homescreen and how to use a listing.
</p>
<p>
_______
</p>
<h4>Adding a Shortcut to Your Home Screen</h4>
<p> Our application is web-based, but that does not stop you from using it like an app.</p>
<p> Here is how you can add a shortcut to your home screen on your phone to access our site even faster!
</p>
</br>
<h4>Apple iPhone/iPad Users:</h4>
<p>1. Open up Safari and go to https://www.cmfp-b.herokuapp.com.</p>
<p>2. At the bottom of the screen, tap the icon depicting an arrow coming out of a square.</p>
<p>3. Tap "Add to Home Screen".</p>
<p>4. You'll be asked to choose a name for the homescreen icon. We suggest "CMFP".</p>
<p><i> You're all done! </i></p>
<p>
  _______
</p>
<h4>Android Users:</h4>
<p>1. Open up Chrome and go to https://www.cmfp-b.herokuapp.com.</p>
<p>2. Tap the menu button.</p>
<p>3. Tap "Add to Home Screen".</p>
<p>4. You'll be asked to choose a name for the homescreen icon. We suggest "CMFP".</p>
<p><i> You're all done! </i></p>
<p>
_______
</p>
<h4>Using a Listing</h4>
<p>You may favorite listings as you wish, hide listings you do not want to see, and even report inappropriate content.
The main feature of our site is how you may use the deals you see! When you find a listing you want to use, click on the
larger of the two images. This will take you to the individual listing's page. Once you are ready to check out, ask the cashier
to give you the "Listing Code", and tap "Enter Code". Once you've finished entering the code, tap "Use Code", show it to the cashier,
and you are done!</p>
</br>
<h3>Thank you again for becoming a part of our program, and for your service!</h3>
