<div id="favorite">
  <% @side_bar_advertisement.each do |advertisement| %>
    <%= link_to image_tag(advertisement.image_url) %>
    <br>
    <h4>
      <%= advertisement.description %>
    </h4>
  <% end %>
</div>
