<div id="discountsfeedID">
  <h3>Discounts</h3>

  <% @discounts.each do |discount| %>
    <div id="inside">
      <strong><%= discount.name %></strong><br>
      <%= discount.description %><br>
    </div>
  <% end %>
</div>
