@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/*.notice, #notice {
		background: #a0c0ff;
		border-radius: 0.5em;
		border: solid 0.177em #0F3D5E;
		color: #e0eaff;
		font-weight: bold;
		margin-bottom: 1em;
		padding: 1em 1.414em;
		text-align: center;
}
*/
#banner {
  background-color: #0F3D5E;
  height: 95px;
  //margin: 0 !important;
  //border-radius: 0 !important;
  //-moz-border-radius: 0 !important;
  border: none;
}

#hero {
  // background-color: #f2f2f2;
  #feedButtonNotLiked {
    border: none;
    background-color: #fff;
    color: #ff6666;
    font-size: 25px;

    :hover {
      color: red;
    }

    :focus {
      color: red;
    }
  }

  #feedButtonLiked {
    border: none;
    // background-color: #f2f2f2;
    color: red;
    font-size: 40px;
  }

  #bizButton {
    width: 120px;
    height: 40px;
    margin-top: 50px;
    margin-right: 10px;
    border-radius: 40px;
    background-color: #123E5C;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    margin-bottom: 20px;
  }
}
/*
#landingHero {

  #left-hero {
    background-color: #fff;
    height: 100vh;

    #hero-left-row1 {
      padding-top: 30vh;
    }

    #hero-left-row1 h1 {
      font-size: 25px;
      font-weight: 600;
    }

    #hero-left-row2 h2 {
      font-size: 20px;
      font-weight: 500;
    }

    #hero-left-row3 {
      padding-top: 25px;
    }

    #hero-left-row3 form input {
      width: 340px;
      height: 40px;
      padding: 0px 10px;
      margin-right: 10px;
      border: 1px solid #123E5C;
      background-color: #fff;
      font-size: 14px;
      color: #000000;
      line-height: 30px;
    }

    #hero-left-row3 form button {
      width: 120px;
      height: 40px;
      margin-right: 10px;
      border-radius: 40px;
      background-color: #123E5C;
      font-size: 14px;
      color: #fff;
      line-height: 20px;
    }

    #hero-left-row3 form button:hover {
      border: 2px solid #123E5C;
      background-color: #fff;
      color: #9E2438;
    }

    #hero-left-row4 {
      padding-top: 25px;
    }
  }

  #right-hero {
    background-image: image-url('a-10.jpg');
    -webkit-background-size: cover;
    background-repeat:no-repeat;
    position: relative;
    height: 100vh;
    padding: 0px;
    color: #fff;
    background-position: 18% 80%;

    #hero-right-h1 {
      padding-top: 30vh;
    }

    #feedButton {
      width: 120px;
      height: 40px;
      margin-top: 50px;
      margin-right: 10px;
      border-radius: 40px;
      background-color: #123E5C;
      font-size: 14px;
      color: #fff;
      line-height: 20px;

      :hover {
        border: 2px solid #123E5C;
        background-color: #fff;
        color: #9E2438;
      }
    }
  }
}
*/
/**************************************************
** MEDIA QUERY FOR SMALLER THAN DESKTOP VIEWPORT **
**************************************************/
@media screen and (max-width: 768px) {

  .pushDown {
    padding-top: 65px;
    #offerDisplay{
      text-align: center;
    }
      #feedButtonNotLiked {
      border: none;
      background-color: #fff;
      color: #ff6666;
      font-size: 25px;

      :hover {
        color: red;
      }

      :focus {
        color: red;
      }
    }
    #offerImage {
      img {
        height: 25%;
        width: auto;
      }
    }
  }

  body {
    padding-bottom: 100px;
  }

  #banner {
    height: 50px;

    #logodiv {
      margin-left: 6%;
      margin-right: 6%;
      padding-top: 12px;
      width: 100%;

      #logoname {
        img {
          //height: auto;
          //width: 110px;
          display: none;
        }
      }

      #logonameMLink {
        height: auto;
        width: 75px;
        font-size: 18px;
        font-weight: 300;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        text-decoration: underline;
      }

      #loggedInMobile {
        margin: 0px 65px 9px 0px;
        padding-top: 5px;
        border: none;
        color: #fff;
        background-color: #0F3D5E;
      }

      #loggedInCollapse {
        background-color: #0F3D5E;
        width: 100%;
        margin-left: 50%;

        a:link {
          color: #fff;
        }

        a:focus {
          background-color: #0F3D5E;
        }
      }

      #loggedInDesktop {
        display: none;
      }

      #navInput {
        margin-right: 60px;

        #navFormInputs {
          display: none;
        }

        #navSubmit {
          width: 60px;
          height: 28px;
          border: 2px solid #f2f2f2;
          border-radius: 40px;
          background-color: #fff;
          font-size: 14px;
          color: #0F3D5E;
        }

        #navSubmit2 {
          width: 60px;
          height: 28px;
          border: 2px solid #f2f2f2;
          border-radius: 40px;
          background-color: #fff;
          font-size: 14px;
          color: #0F3D5E;
        }

        #navFormLogin {
          display: none;
        }
      }


    }
/*
    #navButton {
      border-color: transparent;
      margin-right: 3%;
      padding-top: 0;
      margin-top: 5px;

      span {
        background-color: #fff;
      }
    }

    #navFormInputs {
      display: none;
    }

    #navSubmit {
      width: 60px;
      height: 28px;
      border: 2px solid #f2f2f2;
      border-radius: 40px;
      background-color: #fff;
      font-size: 14px;
      color: #0F3D5E;
    }
    */
    /*
    #landingHero {

      // margin-top: 0px;

      #hero-left-row1 {
        padding-top: 60vh;
      }

      #right-hero {
        background-position: 20% 80%;
      }
    }
    */
  }

  #landingHero {
    #left-hero {
      background-color: #fff;
      height: auto;
      /*#hero-left-h1 {
        padding-top: 125px;
      }*/
      #hero-left-row1 {
        padding-top: 55px;
      }

      #hero-left-row1 h1 {
        font-size: 25px;
        font-weight: 600;
      }

      #hero-left-row2 h2 {
        font-size: 20px;
        font-weight: 500;
      }

      #hero-left-row3 {
        padding-top: 25px;
      }

      #hero-left-row3 form input {
        width: 340px;
        height: 40px;
        padding: 0 10px;
        margin-right: 10px;
        border: 1px solid #123E5C;
        background-color: #fff;
        font-size: 14px;
        color: #000000;
        line-height: 30px;
      }

      #hero-left-row3 form button {
        width: 120px;
        height: 40px;
        margin-right: 10px;
        border-radius: 40px;
        background-color: #123E5C;
        font-size: 14px;
        color: #fff;
        line-height: 20px;
      }

      #hero-left-row3 form button:hover {
        border: 2px solid #123E5C;
        background-color: #fff;
        color: #9E2438;
      }

      #hero-left-row4 {
        padding-top: 25px;
      }
    }

    #right-hero {
      /*background-color: #9E2438;*/
      background-image: image-url('a-10.jpg');
      -webkit-background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      height: auto;
      /*border-bottom: 10px solid #FD9701;*/
      padding-top: 40px;
      padding-bottom: 40px;
      color: #fff;
      background-position: 20% 80%;

      #hero-right-h1 {
        padding-top: 20px;
      }

      #feedButton {
        width: 120px;
        height: 40px;
        margin-top: 50px;
        margin-right: 10px;
        border-radius: 40px;
        background-color: #123E5C;
        font-size: 14px;
        color: #fff;
        line-height: 20px;

        :hover {
          border: 2px solid #123E5C;
          background-color: #fff;
          color: #9E2438;
        }
      }
    }

    #footerMobile {
      height: 50px;
      text-align: center;

      p {
        margin-top: 25px;
      }
    }
  }

  #hero {
    padding-top: 55px;

    #inside {
      // border: 1px solid grey;
      box-shadow: 0.176em 0.176em 0.354em 0 rgba(0,0,0,0.75);
      margin-bottom: 10px;
      padding: 10px;
      margin-right: 5px;
    }

    #favorite {
      display: none;
    }

    #bizButton {
      display: none;
    }

    #comp1 {
      display: none;
    }

    #comp2 {
      display: none;
    }
  }

  #footer {
    height: 75px;
    // width: 100%;
    background-color: #0F3D5E;
    margin-top: 105px;

    .positioner {
      // text-align: center;

      ul {
        text-align: left;
        padding-left: 17%;

        .active {
          a {
            color: red;
          }
        }

        li {
          display: inline-block;
          padding-top: 10px;
          width: 23%;

          #rssToggle:hover {
            color: red;
          }

          #searchToggle:hover {
            color: red;
          }

          #starToggle:hover {
            color: red;
          }

          #businessToggle:hover {
            color: red;
          }

          a {
            background-color: #0F3D5E;
            color: #fff;
            font-size: 25px;
            text-decoration: none;
          }
        }
      }
    }
  }
}
/***********************************************
** MEDIA QUERY FOR LARGER THAN PHONE VIEWPORT **
***********************************************/
@media screen and (min-width: 768px) {

  .simple_form {
    margin: 30px 60px 0 0;
    input {

    }
  }

  .pushDown {
    padding-top: 105px;
    #offerDisplay {
      text-align: center;
      #offerTitle {
        font-size: 20px;
      }
    }
    #feedButtonNotLiked {
      border: none;
      background-color: #fff;
      color: #ff6666;
      font-size: 25px;

      :hover {
        color: red;
      }

      :focus {
        color: red;
      }
    }
    #offerImage {
      img {
        height: 25%;
        width: auto;
      }
    }
  }

  body {
    // padding-top: 85px;
  }

  #banner {
    #logodiv {
      width: 100vw;
      padding-top: 0;

      #logoname {
        padding-top: 0;

        img {
          height: auto;
          width: 110px;
        }
      }

      #logonameMLink {
        display: none;
        margin-left: 3%;
        margin-top: 0;
        color: #fff;
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        font-weight: 300;
        text-transform: uppercase;
        text-decoration: underline;
      }

      #RememberMe {
        color: white;
      }

      #loggedInMobile {
        display: none;
      }

      #loggedInCollapse {
        li {
          display: none;
        }
      }

      #navSubmit2 {
        display: none;
      }

      #loggedInDesktop {
        font-size: 18px;
        margin: 20px 40px 0px 0px;

        a:link {
          color: #fff;
        }

        :focus {
          background-color: #0F3D5E;
        }

        :hover {
          // color: #fff;
        }

        .dropdown-menu {
          margin-top: 24px;
          width: 100%;

          :hover {
            background-color: #0F3D5E;
            color: white;
          }
        }
      }
    }

    #navButton {
      display: none;
    }

    #navForm {
      margin-right: 6%;
      padding-top: 30px;

      input {
        width: 140px;
        height: 30px;
        padding: 0 10px;
        margin-right: 10px;
        border: 2px solid #f2f2f2;
        background-color: #fff;
        font-size: 14px;
        color: #000000;
      }

      button {
        width: 60px;
        height: 30px;
        margin-right: 10px;
        border: 2px solid #f2f2f2;
        border-radius: 40px;
        background-color: #fff;
        font-size: 14px;
        color: #0F3D5E;
      }

      button:hover {
        background-color: #0F3D5E;
        color: #fff;
      }
    }
  }

  #hero {
    padding-top: 95px;

    #inside {
      // border: 1px solid grey;
      box-shadow: 0.176em 0.176em 0.354em 0 rgba(0,0,0,0.75);
      margin-bottom: 10px;
      padding: 10px;
      margin-right: 5px;
    }

    #favorite {
    //  border: 1px solid grey;
      padding: 10px;
      box-shadow: 0.176em 0.176em 0.354em 0 rgba(0,0,0,0.75);
      font-size: 13px;
      margin-bottom: 10px;
      padding-bottom: 20px;
    }

    #comp1 {

      #popularityParagraph {
        text-indent: 10px;

        #redColorSpan {
          color: red;
        }
      }

      #bizButton{
        margin-left: 25%;
        margin-top: 20px;
      }
    //  border: 1px solid grey;
      font-size: 13px;
      padding: 10px;
      box-shadow: 0.176em 0.176em 0.354em 0 rgba(0,0,0,0.75);
      margin-left: 3px;
      margin-right: 5px;
      margin-bottom: 10px;
    }

    #comp2 {
      #bizButton{
        margin-left: 25%;
        margin-top: 20px;
      }
      //border: 1px solid grey;
      padding: 10px;
      box-shadow: 0.176em 0.176em 0.354em 0 rgba(0,0,0,0.75);
      margin-left: 3px;
      margin-right: 5px;
    }
  }
  /*
  #landingHero {
    margin-top: 0px;
  }
  */
  #landingHero {
    #left-hero {
      background-color: #fff;
      height: 100vh;
      /*#hero-left-h1 {
        padding-top: 125px;
      }*/
      #hero-left-row1 {
        padding-top: 30vh;
      }

      #hero-left-row1 h1 {
        font-size: 25px;
        font-weight: 600;
      }

      #hero-left-row2 h2 {
        font-size: 20px;
        font-weight: 500;
      }

      #hero-left-row3 {
        padding-top: 25px;
      }

      #hero-left-row3 form input {
        width: 340px;
        height: 40px;
        padding: 0 10px;
        margin-right: 10px;
        border: 1px solid #123E5C;
        background-color: #fff;
        font-size: 14px;
        color: #000000;
        line-height: 30px;
      }

      #hero-left-row3 form button {
        width: 120px;
        height: 40px;
        margin-right: 10px;
        border-radius: 40px;
        background-color: #123E5C;
        font-size: 14px;
        color: #fff;
        line-height: 20px;
      }

      #hero-left-row3 form button:hover {
        border: 2px solid #123E5C;
        background-color: #fff;
        color: #9E2438;
      }

      #hero-left-row4 {
        padding-top: 25px;
      }
    }

    #right-hero {
      /*background-color: #9E2438;*/
      background-image: image-url('a-10.jpg');
      -webkit-background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      height: 100vh;
      /*border-bottom: 10px solid #FD9701;*/
      padding: 0;
      color: #fff;
      background-position: 18% 80%;

      #hero-right-h1 {
        padding-top: 30vh;
      }

      #feedButton {
        width: 120px;
        height: 40px;
        margin-top: 50px;
        margin-right: 10px;
        border-radius: 40px;
        background-color: #123E5C;
        font-size: 14px;
        color: #fff;
        line-height: 20px;

        :hover {
          border: 2px solid #123E5C;
          background-color: #fff;
          color: #9E2438;
        }
      }
    }

    #footerMobile {
      display: none;
    }
  }

  #footer {
    display: none;
  }
}
