<footer class="footer navbar-fixed-bottom" id="footer">
  <div class="positioner">
    <div id="footerToFeed">
      <button type="submit" class="fa fa-rss"></button>
    </div>
    <div id="footerToFavorites">
      <button type="submit" class="fa fa-star"></button>
    </div>
    <div id="footerToBusinesses">
      <button type="submit" class="fa fa-building"></button>
    </div>
  </div>
</footer>
