<header role="banner" class="navbar navbar-fixed-top navbar-inverse" id="banner">
  <div class="container-fluid">
    <div class="navbar-header">
      <div id="logodiv">
        <%= link_to home_path do %>
          <span id="logonameMLink">Moodylink</span>
          <span id="logoname"><%= image_tag("Badge2.png") %></span>
        <% end %>
        <% if account_signed_in? %>
          <ul class="nav navbar-nav pull-right" >
            <%= render 'layouts/navigation_links' %>
          </ul>
        <% else %>
          <form class="pull-right" id="navForm" action="includes/login.inc.php" method="POST">
            <input id="navFormInputs" type="text" name="uid" placeholder="Username">
            <input id="navFormInputs" type="password" name="pwd" placeholder="Password">
            <button id="navSubmit" type="submit" name="submit">Login</button>
          </form>
        <% end %>
      </div>
    </div>
  </div>
</header>
